{% extends '::sidebar.html.twig' %}
{% set selected = 'sales_manager' %}
{% block javascripts_bottom %} 


    <script src="{{ asset('..//bundles/crm/plugins/forms_editors_wysihtml5/js/wysihtml5-0.3.0_rc2.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_editors_wysihtml5/js/bootstrap-wysihtml5-0.0.2.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_editors_wysihtml5/wysihtml5.init.js?v=v2.0.0-rc1') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_elements_bootstrap-datepicker/js/bootstrap-datepicker.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_bootstrap-datepicker/bootstrap-datepicker.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_elements_select2/js/select2.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_select2/select2.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_elements_inputmask/jquery.inputmask.bundle.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_inputmask/inputmask.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/admin_notifications_notyfy/notyfy.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/notifications_notyfy/js/jquery.notyfy.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script> 
    <script src="{{ asset('..//bundles/crm/plugins/ui_modals/bootbox.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/ui_modals/modals.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/notifications_gritter/js/jquery.gritter.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_fuelux-radio/fuelux-radio.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_fuelux-checkbox/fuelux-checkbox.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    {{ parent() }}
{% endblock %} 

{% block body %}    
    {% for flashMessage in app.session.flashbag.get('no_product_notice') %}  
        <script type="text/javascript">
            $(document).ready(function () {
                $("#modal-create-product").modal({keyboard: false, backdrop: 'static'});
                $.gritter.add({
                    title: 'You have no product!',
                    text: "It requires that you enter at least one (1) product to create a deal."
                });

            });
        </script>   
    {% endfor %} 
    <!-- row -->
    <div class="row row-app margin-none">

        <!-- col -->
        <div class="col-md-12">

            <!-- col-separator -->
            <div class="col-separator col-separator-first box">
                <h4 class="innerAll bg-white margin-none border-bottom">Create A Deal</h4>

                <div class="col-separator-h"></div>  
                <!-- Tabs -->
                <div class="widget widget-tabs widget-tabs-social-account widget-tabs-responsive"> 

                    <div class="widget-body">

                        <!-- Tab content -->
                        <div class="widget-body-regular padding-none border-none">
                            <!-- Widget -->
                            <div class="widget widget-tabs border-bottom-none">
                                <div class="wizard">
                                    <div class="widget widget-tabs widget-tabs-double widget-tabs-responsive">
                                        <!-- Widget heading --> 
                                        <h6 class="innerAll bg-white margin-none border-bottom">  Fill up this area to create a deal. </h6>

                                        <!-- // Widget heading END -->
                                        <form  action="{{ path('CRMSaleBundle_quote_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" >

                                            <div class="widget-body">

                                                <div class="tab-content">


                                                    <!-- Row -->
                                                    <p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>

                                                    <h3>General Info<span>  Fill up general information.</span></h3>

                                                    <div class="separator line bottom"></div>
                                                    <div class="row">

                                                        <!-- Column -->
                                                        <div class="col-md-6">
                                                            <!-- Group -->

                                                            <!-- Group -->
                                                            <div class="form-group margin-none innerB">
                                                                <label class="col-md-4 control-label">Deal Title</label>
                                                                <div class="col-md-8">
                                                                    {{ form_widget(form.quotename, { 'attr': {'class': 'form-control'} }) }}
                                                                </div>
                                                            </div>
                                                            <!-- // Group END -->


                                                        </div>
                                                        <!-- // Column END -->

                                                        <!-- Column -->
                                                        <div class="col-md-6">

                                                            <!-- Group -->
                                                            <div class="form-group margin-none innerB">
                                                                <label class="col-md-4 control-label">Expiration</label>
                                                                <div class="col-md-8">
                                                                    <div class="input-group">
                                                                        {{ form_widget(form.expiration_date, { 'attr': {'class': 'form-control', 'placeholder':'yyyy-mm-dd'} }) }}
                                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- // Group END -->
                                                            <div class="form-group margin-none innerB">
                                                                <label class="col-md-4 control-label">Sale Person</label>
                                                                <div class="col-md-8"> 

                                                                    {{ form_widget(form.account_manager, { 'attr': {'class': 'form-control tags' } }) }} 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- // Column END -->

                                                    </div>
                                                    <!-- Row -->
                                                    <p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>

                                                    <h3>Customer<span>  Fill up customer information.</span></h3>
                                                    <!-- // Row END -->
                                                    <hr class="separator bottom" />
                                                    <!-- Row -->
                                                    <div class="row">

                                                        <!-- Column -->
                                                        <div class="col-md-3">
                                                            <strong>Send To</strong>
                                                            <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                        </div>
                                                        <!-- // Column END -->
                                                        <div class="col-md-4">
                                                            <label for="inputTitle">Account Name</label>
                                                            {{ form_widget(form.account_name, { 'attr': {'class': 'form-control'} }) }}
                                                            <script>
                                                                var account_name = [{% for account in accounts %}
                                                                    "{{account.name}}",{% endfor %}
                                                                    "CandySoft Solutions"
                                                                ];
                                                                $("#quote_account_name").autocomplete({
                                                                    source: function (request, response) {
                                                                        var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(
                                                                                request.term), "i");
                                                                        response($.grep(account_name, function (item) {
                                                                            return matcher.test(item);
                                                                        }));
                                                                    }
                                                                });
                                                            </script>
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="inputTitle">Contact Person</label>
                                                            {{ form_widget(form.contactPerson, { 'attr': {'class': 'form-control'} }) }}



                                                            <script>
                                                                var tags = [{% for contact in contacts %}
                                                                    "{{contact.firstname}} {{contact.lastname}}",{% endfor %}
                                                                    "CandySoft SRO"
                                                                ];
                                                                $("#quote_contactPerson").autocomplete({
                                                                    source: function (request, response) {
                                                                        var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(
                                                                                request.term), "i");
                                                                        response($.grep(tags, function (item) {
                                                                            return matcher.test(item);
                                                                        }));
                                                                    }
                                                                });
                                                            </script>
                                                            <div class="separator"></div>
                                                        </div>

                                                    </div>
                                                    <!-- // Row END -->
                                                    <!-- Row -->
                                                    <div class="row">

                                                        <!-- Column -->
                                                        <div class="col-md-3">
                                                            <strong>Address</strong>
                                                            <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                        </div>
                                                        <!-- // Column END -->

                                                        <div class="col-md-2">
                                                            <label for="inputTitle">Street</label>
                                                            {{ form_widget(form.customerStreet, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="inputTitle">City</label>
                                                            {{ form_widget(form.customerCity, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="inputTitle">State</label>
                                                            {{ form_widget(form.customerState, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputTitle">Country</label>
                                                            {{ form_widget(form.customerCountry, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>

                                                    </div>
                                                    <!-- // Row END --> 
                                                    <!-- Row -->
                                                    <div class="row">

                                                        <!-- Column -->
                                                        <div class="col-md-3">
                                                            &nbsp;
                                                        </div>
                                                        <!-- // Column END -->

                                                        <div class="col-md-2">
                                                            <label for="inputTitle">Phone</label>
                                                            {{ form_widget(form.contact_phone, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="inputTitle">Mobile</label>
                                                            {{ form_widget(form.customerMobile, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="inputTitle">Fax</label>
                                                            {{ form_widget(form.customerFax, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputTitle">Email</label>
                                                            {{ form_widget(form.contact_email, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>

                                                    </div>
                                                    <hr class="separator bottom" />
                                                    <!-- // Row END -->
                                                    <p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>

                                                    <h3>Notes<span>  Fill up general information.</span></h3>


                                                    <!-- // Tab content END -->



                                                    <div class="separator line bottom"></div>

                                                    {{ form_widget(form.additional_notes, { 'attr': {'class': 'form-control',  'rows':'5'} }) }}

                                                    <div class="separator"></div> 
                                                    <!-- Form actions -->
                                                    <div class="separator top center">
                                                        <button type="button" class="btn btn-default"><i class="fa fa-fw fa-times"></i> Cancel</button>

                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-check-square-o"></i> Save changes</button>
                                                    </div>
                                                    <!-- // Form actions END -->
                                                    <div class="clearfix"></div>
                                                    <div class="separator"></div> 
                                                </div>
                                            </div>       

                                            {{ form_rest(form) }}
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- // Widget END -->



                        </div>
                        <!-- // Tab content END --> 

                    </div>
                </div>
                <!-- // Tabs END --> 


            </div>
            <!-- // END col-separator -->

        </div>
        <!-- // END col -->

    </div>
    <!-- // END row-app -->

    <!-- Modal -->
    <div class="modal fade" id="modal-create-product">

        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal heading -->
                <div class="modal-header">  
                    <div class="btn-group btn-group-xs pull-right bottom">
                        <a href="{{ path('CRMSaleBundle_product_create')}}" class="btn btn-primary"><i class="fa fa-fw fa-plus-circle"></i> Go to Product Manager</a>
                    </div>
                    <h3 class="modal-title">Create your first product</h3>
                </div>
                <!-- // Modal heading END -->

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="innerAll">
                        <form  action="{{ path('CRMSaleBundle_quote_create_product') }}" method="post" {{ form_enctype(form_product) }} class="margin-none innerLR inner-2x">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="inputTitle">Product Name</label>
                                    {{ form_widget(form_product.productname, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="separator"></div>
                                </div>
                                <div class="col-md-4">
                                    <label for="inputTitle">Product Code</label>
                                    {{ form_widget(form_product.productcode, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="separator"></div>
                                </div> 
                                <div class="col-md-4">
                                    <label for="inputTitle">Price</label>
                                    {{ form_widget(form_product.price, { 'attr': {'class': 'form-control'} }) }}  
                                    <div class="separator"></div>
                                </div> 
                            </div>  
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="inputTitle">Price Type</label>
                                    {{ form_widget(form_product.pricetype, { 'attr': {'class': 'selectpicker form-control'} }) }}
                                    <div class="separator"></div>
                                </div>   
                                <div class="col-md-4">
                                    <label for="inputTitle">Status</label>
                                    {{ form_widget(form_product.status, { 'attr': {'class': 'selectpicker form-control'} }) }}
                                    <div class="separator"></div>
                                </div>   
                                <div class="col-md-4">
                                    &nbsp; <div class="separator"></div>
                                </div> 
                            </div> 
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="inputTitle">Description</label>
                                    {{ form_widget(form_product.description, { 'attr': {'class': 'form-control'} }) }} 
                                    <div class="separator"></div>
                                </div>     
                            </div>
                            <div class="separator line bottom"></div>

                            <!-- Row -->

                            <div class="row"> 

                                <!-- Column -->
                                <div class="col-md-10">
                                    <div>
                                        <h3>Product Category<span>  Select category  that applies.</span></h3>
                                        {% for choice in form_product.Category %}  
                                            <div class="checkbox">
                                                <label for="topic_fuzz" class="checkbox-custom">
                                                    <i class="fa fa-fw fa-square-o"></i> 
                                                    {{ form_widget(choice) }} {{ form_label(choice) }}
                                                </label>
                                            </div>

                                        {% endfor %} 
                                    </div>
                                </div>
                                <!-- // Column END -->

                            </div>
                            <!-- // Row END -->	

                            <div class="separator line bottom"></div>
                            <div class="text-center innerAll">
                                {{ form_widget(form_product.product_save, { 'attr': {'class': 'btn btn-primary finish'} }) }}   <a href="{{ path('CRMSaleBundle_quote_manage')}}" class="btn btn-default">Close</a>
                            </div>
                            {{ form_rest(form_product) }}
                        </form>
                    </div>

                </div>
                <!-- // Modal body END -->

            </div>
        </div>

    </div>
    <!-- // Modal END -->

{% endblock %}



