{% extends '::sidebar.html.twig' %}
{% set selected = 'sales_manager' %}
{% block javascripts_bottom %}
    {{ parent() }}
    <script src="{{ asset('..//bundles/crm/plugins/forms_editors_wysihtml5/js/wysihtml5-0.3.0_rc2.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_editors_wysihtml5/js/bootstrap-wysihtml5-0.0.2.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_editors_wysihtml5/wysihtml5.init.js?v=v2.0.0-rc1') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_elements_bootstrap-datepicker/js/bootstrap-datepicker.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_bootstrap-datepicker/bootstrap-datepicker.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/forms_elements_select2/js/select2.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/forms_elements_select2/select2.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}" type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/notifications_gritter/js/jquery.gritter.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/admin_notifications_gritter/gritter.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/components/admin_notifications_notyfy/notyfy.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
    <script src="{{ asset('..//bundles/crm/plugins/notifications_notyfy/js/jquery.notyfy.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2') }}"
    type="text/javascript"></script>
{% endblock %} 
{% block body %}
    

    {% for flashMessage in app.session.flashbag.get('notice_success_create_fr_account') %}  
        <script type="text/javascript">
            $(document).ready(function () {
                $.gritter.add({
                    // (string | mandatory) the heading of the notification
                    title: 'Hurray.. you have created a deal!',
                    // (string | mandatory) the text inside the notification
                    text: 'You hav created a new deal. You can now continue adding your product(s) to your deal.'
                });
                return false;
            });
        </script>   
    {% endfor %} 
    <!-- row -->
    <div class="row row-app margin-none">

        <!-- col -->
        <div class="col-md-12">

            <!-- col-separator -->
            <div class="col-separator col-separator-first box">
                <h4 class="innerAll bg-white margin-none border-bottom">Create A Quotation</h4>

                <div class="col-separator-h"></div>
                <!-- Tabs -->
                <div class="widget widget-tabs widget-tabs-social-account widget-tabs-responsive">

                    <div class="widget-body">

                        <!-- Tab content -->
                        <div class="widget-body-regular padding-none border-none">
                            <!-- Widget -->
                            <div class="widget widget-tabs border-bottom-none">
                                <div class="wizard">
                                    <div class="widget widget-tabs widget-tabs-double widget-tabs-responsive">
                                        <!-- Widget heading -->
                                        <div class="widget-head">
                                            <ul>
                                                Fill up this area to create a quotation
                                            </ul>
                                        </div>
                                        <!-- // Widget heading END -->
                                        <form  action="{{ path('CRMSaleBundle_quote_update', { 'id': entity.id, 'quote_id': entity.quoteId,
                                            'delete_product_id': '0', 'product_id': '0'  }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal" id="frmaddproductquote">
                                            <div class="widget-body">

                                                <div class="tab-content">


                                                    <!-- Row -->
                                                    <p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>

                                                    <h3>General Info<span>  Fill up general information.</span></h3>

                                                    <div class="separator line bottom"></div>
                                                    <div class="row">

                                                        <!-- Column -->
                                                        <div class="col-md-6">
                                                            <!-- Group -->

                                                            <!-- Group -->
                                                            <div class="form-group margin-none innerB">
                                                                <label class="col-md-4 control-label">Deal Title</label>
                                                                <div class="col-md-8">
                                                                    {{ form_widget(edit_form.quotename, { 'attr': {'class': 'form-control'} }) }}
                                                                </div>
                                                            </div>
                                                            <!-- // Group END -->


                                                        </div>
                                                        <!-- // Column END -->

                                                        <!-- Column -->
                                                        <div class="col-md-6">

                                                            <!-- Group -->
                                                            <div class="form-group margin-none innerB">
                                                                <label class="col-md-4 control-label">Expiration</label>
                                                                <div class="col-md-8">
                                                                    <div class="input-group">
                                                                        {{ form_widget(edit_form.expiration_date, { 'attr': {'class': 'form-control', 'placeholder':'yyyy-mm-dd'} }) }}
                                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- // Group END -->
                                                            <div class="form-group margin-none innerB">
                                                                <label class="col-md-4 control-label">Sale Person</label>
                                                                <div class="col-md-8"> 

                                                                    {{ form_widget(edit_form.account_manager, { 'attr': {'class': 'form-control tags'} }) }} 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- // Column END -->

                                                    </div>
                                                    <!-- Row -->
                                                    <p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>

                                                    <h3>Customer<span>  Fill up customer information.</span></h3>
                                                    <!-- // Row END -->
                                                    <hr class="separator bottom" />
                                                    <!-- Row -->
                                                    <div class="row">

                                                        <!-- Column -->
                                                        <div class="col-md-3">
                                                            <strong>Send To</strong>
                                                            <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                        </div>
                                                        <!-- // Column END -->
                                                        <div class="col-md-4">
                                                            <label for="inputTitle">Account Name</label>
                                                            {{ form_widget(edit_form.account_name, { 'attr': {'class': 'form-control'} }) }}
                                                            <script>
                                                                var account_name = [{% for account in accounts %}
                                                                    "{{account.name}}",{% endfor %}
                                                                    "CandySoft Solutions"
                                                                ];
                                                                $("#quote_account_name").autocomplete({
                                                                    source: function (request, response) {
                                                                        var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(
                                                                                request.term), "i");
                                                                        response($.grep(account_name, function (item) {
                                                                            return matcher.test(item);
                                                                        }));
                                                                    }
                                                                });
                                                            </script>
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="inputTitle">Contact Person</label>
                                                            {{ form_widget(edit_form.contactPerson, { 'attr': {'class': 'form-control'} }) }}



                                                            <script>
                                                                var tags = [{% for contact in contacts %}
                                                                    "{{contact.firstname}} {{contact.lastname}}",{% endfor %}
                                                                    "Rhea"
                                                                ];
                                                                $("#quote_contactPerson").autocomplete({
                                                                    source: function (request, response) {
                                                                        var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(
                                                                                request.term), "i");
                                                                        response($.grep(tags, function (item) {
                                                                            return matcher.test(item);
                                                                        }));
                                                                    }
                                                                });
                                                            </script>
                                                            <div class="separator"></div>
                                                        </div>

                                                    </div>
                                                    <!-- // Row END -->
                                                    <!-- Row -->
                                                    <div class="row">

                                                        <!-- Column -->
                                                        <div class="col-md-3">
                                                            <strong>Address</strong>
                                                            <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                        </div>
                                                        <!-- // Column END -->

                                                        <div class="col-md-2">
                                                            <label for="inputTitle">Street</label>
                                                            {{ form_widget(edit_form.customerStreet, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="inputTitle">City</label>
                                                            {{ form_widget(edit_form.customerCity, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="inputTitle">State</label>
                                                            {{ form_widget(edit_form.customerState, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputTitle">Country</label>
                                                            {{ form_widget(edit_form.customerCountry, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>

                                                    </div>
                                                    <!-- // Row END --> 
                                                    <!-- Row -->
                                                    <div class="row">

                                                        <!-- Column -->
                                                        <div class="col-md-3">
                                                            &nbsp;
                                                        </div>
                                                        <!-- // Column END -->

                                                        <div class="col-md-2">
                                                            <label for="inputTitle">Phone</label>
                                                            {{ form_widget(edit_form.contact_phone, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="inputTitle">Mobile</label>
                                                            {{ form_widget(edit_form.customerMobile, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="inputTitle">Fax</label>
                                                            {{ form_widget(edit_form.customerFax, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputTitle">Email</label>
                                                            {{ form_widget(edit_form.contact_email, { 'attr': {'class': 'form-control'} }) }}
                                                            <div class="separator"></div>
                                                        </div>

                                                    </div>
                                                    <hr class="separator bottom" />
                                                    <!-- // Row END -->
                                                    <p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>

                                                    <h3>Notes<span>  Fill up general information.</span></h3>


                                                    <!-- // Tab content END -->



                                                    <div class="separator line bottom"></div>

                                                    {{ form_widget(edit_form.additional_notes, { 'attr': {'class': 'form-control',  'rows':'5'} }) }}

                                                    <div class="separator"></div> 
                                                    <!-- Form actions -->
                                                    <div class="separator top center">
                                                        <button type="button" class="btn btn-default"><i class="fa fa-fw fa-times"></i> Cancel</button>

                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-check-square-o"></i> Save changes</button>
                                                    </div>
                                                    <!-- // Form actions END -->
                                                    <div class="clearfix"></div>
                                                    <div class="separator"></div> 
                                                </div>
                                            </div>   
                                            {{ form_rest(edit_form) }}
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- // Widget END -->



                        </div>
                        <!-- // Tab content END -->

                    </div>
                </div>
                <!-- // Tabs END -->
            </div>
            <!-- // END col-separator -->

        </div>
        <!-- // END col -->

    </div>
    <!-- // END row-app -->

{% endblock %}



