{% extends 'base_site.html.twig' %} 

{% block body %}   

 <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header" class="transparent-header page-section dark">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="index.html" class="standard-logo" data-dark-logo="{{ asset('bundles/site/images/logo-dark.png') }}"><img src="{{ asset('bundles/site/images/logo.png') }}" alt="Canvas Logo"></a>
                        <a href="index.html" class="retina-logo" data-dark-logo="{{ asset('bundles/site/images/logo-dark.png') }}"><img src="{{ asset('bundles/site/images/logo@2x.png') }}" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul class="one-page-menu">
                            <li class="current"><a href="#" data-href="#header"><div>Home</div></a></li>
                            <li><a href="#" data-href="#section-features"><div>Features</div></a></li>
                            <li><a href="#" data-href="#section-pricing"><div>Pricing</div></a></li>
                            <li><a href="#" data-href="#section-help"><div>Help</div></a></li>
                            <li><a href="{{path('fos_user_security_login')}}" data-href="#section-specs"><div>Login</div></a></li>
                            <li><a href="#" data-href="#section-buy"><div>Buy Now</div></a></li>
                        </ul>

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->
		  
        <section id="slider" style="background: url({{ asset('bundles/site/images/saascrm/landing1.jpg') }}) center; height: 500px; overflow: visible;">
            <div class="container clearfix">
				<form action="{{ path('CRMSiteBundle_homepage') }}" method="post" role="form" {{ form_enctype(form) }} 
					class="landing-wide-form landing-form-overlay dark nobottommargin clearfix" id="validateSubmitForm">
                    <div class="heading-block nobottommargin nobottomborder">
                        <h2>Signup for FREE</h2>
                        <span>Get 10 Days Unlimited Access</span>
                        
                        {% for flashMessage in app.session.flashbag.get('notice_duplicate') %}  
						      <div class="alert alert-danger nobottommargin">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          <i class="icon-remove-sign"></i><strong>Oh snap!</strong> Duplicate email. Try different one.
                        </div>
						{% endfor %} 
						{% for flashMessage in app.session.flashbag.get('db_error') %}  
						      <div class="alert alert-danger nobottommargin">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          <i class="icon-remove-sign"></i><strong>Oh snap!</strong> A database error has been found. Please contact support.
                        </div>
						{% endfor %} 
						{% for flashMessage in app.session.flashbag.get('notice_error') %}  
						      <div class="alert alert-danger nobottommargin">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          <i class="icon-remove-sign"></i><strong>Oh snap!</strong> Something is wrong. Please contact support.
                        </div>
						{% endfor %} 
                    </div>
                    <div class="line" style="margin: 20px 0 30px;"></div>
                    <div class="col_full">
                    	{{ form_widget(form.fullname, { 'attr': {'class': 'form-control input-lg not-dark', 'placeholder':'Your Name*'} }) }} 
                    </div>
                    <div class="col_full">
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control input-lg not-dark', 'placeholder':'Your Email*'} }) }} 
                    </div>
                    <div class="col_full">
                    	{{ form_widget(form.password, { 'attr': {'class': 'form-control input-lg not-dark', 'placeholder':'Choose Password*'} }) }}  
                    </div>
                    <div class="col_full">
                        <input type="password" name="password_again" id="password_again" class="form-control input-lg not-dark" value="" placeholder="Confirm Password*">
                    </div>
                    <div class="col_full nobottommargin">
                        <button class="btn btn-lg btn-danger btn-block nomargin" value="submit" type="submit" style="">START FREE TRIAL</button>
                    </div>
                     {{ form_rest(form) }}
                </form>

            </div>
        </section>

        <!-- Content
        ============================================= -->
        <section id="content" style="overflow: visible;">

            <div class="content-wrap">

                <div class="promo promo-dark promo-full landing-promo header-stick">
                    <div class="container clearfix">
                        <h3>Manage your contacts and accounts anywhere you go.<i class="icon-circle-arrow-right" style="position:relative;top:2px;"></i></h3>
                        <span>Close more deals, create sales order &amp; invoice efforlessly. Track customer requests &amp; quickly resolve issues.</span>
                    </div>
                </div>
		<!-- Page Sub Menu
        ============================================= -->
        <div id="page-menu">

            <div id="page-menu-wrap">

                <div class="container clearfix">

                    <div class="menu-title">Welcome to <span>e-CRM</span></div>

                    <nav class="one-page-menu">
                        <ul> 
                            <li><a href="#"><div>rheasoftware.com</div></a></li>
                            <li><a href="#"><div>Products</div></a></li>
                            <li><a href="#"><div>Services</div></a></li>
                            <li><a href="#"><div>Solutions</div></a></li>
                            <li><a href="#"><div>Knowledge Base</div></a></li> 
                            <li><a href="#" data-href="#section-contact"><div>Contact Us</div></a></li>
                        </ul>
                    </nav>

                    <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

                </div>

            </div>

        </div><!-- #page-menu end -->
                <div class="container clearfix">

                    <div class="clear bottommargin-lg"></div>

                    <div id="section-features" class="heading-block title-center page-section">
                        <h2>What we give for every users</h2>
                        <span>eCRM comes with a wide range of features that suits your every needs</span>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn">
                                <a href="#"><img src="{{asset('bundles/site/images/icons/features/responsive.png')}}" alt="Responsive Layout"></a>
                            </div>
                            <h3>All-Device Ready</h3>
                            <p>We aim to provide optimal viewing experience designed for all devices ranging from tiny phone to desktop monitors.</p>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
                                <a href="#"><img src="{{asset('bundles/site/images/icons/features/retina.png')}}" alt="Retina Graphics"></a>
                            </div>
                            <h3>Manage Your Contacts</h3>
                            <p>Keep your online address book in one place giving you easy access to people you want to reach.</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="400">
                                <a href="#"><img src="{{asset('bundles/site/images/icons/features/performance.png')}}" alt="Powerful Performance"></a>
                            </div>
                            <h3>Manage Your Accounts</h3>
                            <p>Simply manage your accounts to give you the capability to manage relationships with other companies </p>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="600">
                                <a href="#"><img src="{{asset('bundles/site/images/icons/features/flag.png')}}" alt="Responsive Layout"></a>
                            </div>
                            <h3>Lead Management</h3>
                            <p>Enable effective leads generation in a best collaborative way and easiest way resulting in time savings for you. </p>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="800">
                                <a href="#"><img src="{{asset('bundles/site/images/icons/features/tick.png')}}" alt="Retina Graphics"></a>
                            </div>
                            <h3>Quote &amp; Deals Manager</h3>
                            <p>Enables user to create, validate, manage and send quotation to customer easily.</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="1000">
                                <a href="#"><img src="{{asset('bundles/site/images/icons/features/tools.png')}}" alt="Powerful Performance"></a>
                            </div>
                            <h3>Create Sales Order</h3>
                            <p>You can create, store, manage and send Sales Order to customer easy, fast and without a hassle.</p>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="1200">
                                <a href="#"><img src="{{asset('bundles/site/images/icons/features/map.png')}}" alt="Responsive Layout"></a>
                            </div>
                            <h3>Create Invoice</h3>
                            <p>eCRM make it easier to send invoice, get paid on time and gives you a great way to increase revenues.</p>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="1400">
                                <a href="#"><img src="{{asset('bundles/site/images/icons/features/support.png')}}" alt="Retina Graphics"></a>
                            </div>
                            <h3>Case Management</h3>
                            <p>Maximize customer satisfaction with our customer support and case management tool.</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="1600">
                                <a href="#"><img src="{{asset('bundles/site/images/icons/features/seo.png')}}" alt="Powerful Performance"></a>
                            </div>
                            <h3>Manage Products</h3>
                            <p>eCRM helps you easily and efficiently manage and helps you tracks thousands of products.</p>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

                    <div id="section-pricing" class="heading-block title-center nobottomborder">
                        <h2>Pricing Details</h2>
                        <span>Our All inclusive Pricing Plan that covers you well</span>
                    </div>   
					 <div class="fancy-title title-dotted-border title-center">
                        <h3>Our All inclusive Pricing Plan that covers you well</h3>
                    </div>

                    <div class="pricing-box pricing-extended bottommargin clearfix">

                        <div class="pricing-desc">
                            <div class="pricing-title">
                                <h3>Get Full eCRM Platform and other additional exclusive feature?</h3>
                            </div>
                            <div class="pricing-features">
                                <ul class="clearfix">
                                    <li><i class="icon-desktop"></i> Accounts & Contacts</li>
									<li><i class="icon-eye-open"></i> Manage Leads/Opportunities</li>
									<li><i class="icon-eye-open"></i> Manage Deals</li>
									<li><i class="icon-beaker"></i> Sales Order & Invoice</li>
									<li><i class="icon-magic"></i> Case Manager</li>
									<li><i class="icon-font"></i> Unlimited Customization</li>
									<li><i class="icon-stack3"></i> Additional Storage Space</li>
									<li><i class="icon-support"></i> 24x7 Priority Email &  Phone Support</li>
                                </ul>
                            </div>
                        </div>

                        <div class="pricing-action-area">
                            <div class="pricing-meta">
                                Fully integrated eCRM platform
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">&dollar;</span>250<span class="price-tenure">monthly</span>
                            </div>
                            <div class="pricing-action">
                                <a href="{{path('CRMSiteBundle_subscribe', {'type':'Unlimited'  })}}" class="button button-3d button-xlarge btn-block nomargin">Get Started</a>
                            </div>
                        </div>

                    </div>
						 </div> 

                </div>

                <div id="section-help" class="section"> 

                <div class="container clearfix">

                    <h3>Welcome to eCRM's Knowledge Base. We are here to help you:</h3> 

					<p>Getting started with eCRM is simple and really straightforward. We have gather some questions we think can help you interact better with eCRM. If you need support please don't hesitate to send us an email.</p>

                    <div class="divider"><i class="icon-circle"></i></div>

                    <div class="col_half nobottommargin">

                        <h4>Contacts & Accounts <small>(3)</small></h4>

                        <div class="accordion accordion-border clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i>How do I create Contact Category?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>

                            <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Am I required to create a category for my contact?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>

                            <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-lock3"></i>How do I export my contact / account list?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</div>

                        </div>

                        <h4 class="topmargin">Sales Manager <small>(3)</small></h4>

                        <div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-download-alt"></i><i class="acc-open icon-download-alt"></i>Can I export Leads/Opportunities?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>

                            <div class="acctitle"><i class="acc-closed icon-ok"></i><i class="acc-open icon-ok"></i>Can I create A Quote/Deal without a product?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>

                            <div class="acctitle"><i class="acc-closed icon-credit"></i><i class="acc-open icon-credit"></i>Where do I create a product?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</div>

                        </div>

                    </div>

                    <div class="col_half nobottommargin col_last">

                        <h4>Case Manager <small>(3)</small></h4>

                        <div class="accordion accordion-border clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-picture"></i><i class="acc-open icon-picture"></i>Can somebody else create a ticket/case except me?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>

                            <div class="acctitle"><i class="acc-closed icon-file3"></i><i class="acc-open icon-file3"></i>How do I see which case is related to which contact/account?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>

                            <div class="acctitle"><i class="acc-closed icon-phone3"></i><i class="acc-open icon-phone3"></i>How can I create a ticket?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</div>

                        </div>

                        <h4 class="topmargin">General eCRM Questions <small>(3)</small></h4>

                        <div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Am I required to enter my company information to my profile?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>

                            <div class="acctitle"><i class="acc-closed icon-bar-chart"></i><i class="acc-open icon-bar-chart"></i>Can I change the theme of eCRM?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>

                        </div>

                    </div>

                </div> 

       
                </div>
 
                <div class="section footer-stick">

                    <div class="container clearfix">

                        <div id="section-buy" class="heading-block title-center nobottomborder page-section">
                            <h2>Enough? Start Building!</h2>
                            <span>Now that you have read all the Tid-Bits, so start with a plan</span>
                        </div>

                        <div class="center">

                            <a href="#" data-animate="tada" class="button button-3d button-teal button-xlarge nobottommargin"><i class="icon-star3"></i>Start your FREE Trial</a> - OR - <a href="#" data-scrollto="#section-pricing" class="button button-3d button-red button-xlarge nobottommargin"><i class="icon-user2"></i>Sign Up for a Subscription</a>

                        </div>

                    </div>
					 <div class="clear"></div>
                </div>

            

        </section><!-- #content end -->

        <footer id="footer" class="dark">

            <div class="container">

                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap clearfix">

                    <div class="col_one_third">

                        <div class="widget clearfix">
							 {% image
							'bundles/site/images/footer-widget-logo.png' %} <img
							data-animate="fadeInLeft" src="{{ asset_url }}" alt="Rhea Software" class="footer-logo" /> {% endimage %} 
                          
                            <p>Rhea Software is a fresh, independent software development company. We specialize in SAAS applications, web development and e-commerce solutions using the latest technologies.</p>

                            <div style="background: url('{{ asset('bundles/site/images/world-map.png') }}') no-repeat center center; background-size: 100%;">
                                <address>
                                    <strong>Headquarter:</strong><br>
                                    Na Formance 495/6<br>
                                    Czech Republic 14900<br>
                                </address>
                                <abbr title="Phone Number"><strong>Phone:</strong></abbr> (420) 775 179 178<br />
                                <abbr title="Email Address"><strong>Email:</strong></abbr> info@rheasoftware.com<br />
								<abbr title="ICO"><strong>ICO:</strong></abbr> 03681033<br />
								<abbr title="DIC"><strong>DIC:</strong></abbr> CZ7856092629 
                            </div>

                        </div>

                    </div>

                    <div class="col_one_third">
<div class="widget subscribe-widget clearfix">
                            <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
                            <div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
                            <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                                <div class="input-group divcenter">
                                    <span class="input-group-addon"><i class="icon-email2"></i></span>
                                    <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">Subscribe</button>
                                    </span>
                                </div>
                            </form>
                            <script type="text/javascript">
                                $("#widget-subscribe-form").validate({
                                    submitHandler: function(form) {
                                        $(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
                                        $(form).ajaxSubmit({
                                            target: '#widget-subscribe-form-result',
                                            success: function() {
                                                $(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
                                                $('#widget-subscribe-form').find('.form-control').val('');
                                                $('#widget-subscribe-form-result').attr('data-notify-msg', $('#widget-subscribe-form-result').html()).html('');
                                                SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
                                            }
                                        });
                                    }
                                });
                            </script>
                        </div>

                        <div class="widget clearfix" style="margin-bottom: -20px;">

                            <div class="row">

                                <div class="col-md-6 clearfix bottommargin-sm">
                                    <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
                                </div>
                                <div class="col-md-6 clearfix">
                                    <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-rss"></i>
                                        <i class="icon-rss"></i>
                                    </a>
                                    <a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col_one_third col_last">

                        <div class="widget quick-contact-widget clearfix">

                            <h4>Send Message</h4>

                            <form id="quick-contact-form" name="quick-contact-form" action="functions/footeremail.php" method="post" class="quick-contact-form nobottommargin">

                                <div class="input-group divcenter">
                                    <span class="input-group-addon"><i class="icon-user"></i></span>
                                    <input type="text" class="required form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
                                </div>
                                <div class="input-group divcenter">
                                    <span class="input-group-addon"><i class="icon-email2"></i></span>
                                    <input type="text" class="required form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
                                </div>
                                <textarea class="required form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
                                <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn btn-danger nomargin" value="submit">Send Email</button>

                            </form>

                        </div>

                    </div>

                </div><!-- .footer-widgets-wrap end -->

            </div>

            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        Copyrights &copy; 2014 All Rights Reserved by Rhea Software.
                    </div>

                    <div class="col_half col_last tright">
                        <div class="fright clearfix">
                            <div class="copyrights-menu copyright-links nobottommargin">
                                <a href="#">Home</a>/<a href="#">Products</a>/<a href="#">Services</a>/<a href="#">Solutions</a>/<a href="#">Knowledge Base</a>/<a href="#">Contact Us</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->
       
    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div> 
{% endblock %}